/* Ceci est un commentaire en CSS - Les navigateurs ignorent les commentaires.
De cette manière nous pouvons laisser des messages pour d'autres codeurs et des explications de ce que nous avons fait. */

/* Dans les 4 selectors suivants nous allons travailler sur la navigation de notre page.

Nous découvrons ici la possibilité d'utiliser des selectors composés ex : header ul  Ceci permet, par exemple, de cibler les elements de la liste du header sans affecter ceux du footer.
 */
header {
  background: rgb(36, 35, 94);
  padding: 12px;
}

header ul {

  list-style-type: none;
}

header li {
  display: inline-block;
  border: 1px solid #ffffff;
}

header a {
  text-decoration: none;
  color : #ffffff;
  padding: 12px;
  display: block;
}
/* A noter ici :
1. L'utilisation d'une class sur la div, nous la ciblons ici dans la CSS au moyen d'un point .
2. l'utilisation de background image et de background size
3. une hauteur minimal à la div. (pour comprendre ce qu'est une VH : https://css-tricks.com/the-lengths-of-css/)
*/
.hero {
  width: 100%;
  height : 750px;
  background: url('images/esope.jpg') no-repeat;
  background-size: cover;
  color: rgb(36, 35, 94);
  min-height: 100vh;
  background-attachment: fixed;
}
.hero
h1 {
  padding: 30px;
  text-align: left;}
.hero p{
  padding-left:30px;
  color: rgb(36, 35, 94);
  text-align: left; max-width: 45%
}
background{ color:rgb(251, 236, 212)}
/* Sur les sections :
1. Nous utilisons encore une hauteur minimale pour faciliter la lecture et le rythme vertical de la page.
2. Nous utilsons des classes pour permettre d'aleterner visuellement les sections.
*/
section {
  min-height: 90vh;
  padding: 42px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.odd {
  background:rgb(36, 35, 94);
}

.even {
  background : rgb(251, 236, 212);
}

/* Nous souhaitons que les images soient responsives... c'est à dire n'éxcèdent pas une certaine largeur ET se redimensionnent avec leur parent */

.image-block {
  max-width: 640px;
  border: 12px solid rgb(36, 35, 94);
}
.illustration{
  flex-basis: 480px;
}

.content {flex-basis: 480px.}

.image-block img {
  width : 100%;
display:block;

}

#section04
p{color: rgb(251, 236, 212);}

figcaption {
  font-family: 'Fahkwang', serif;
  font-style: italic;

}

footer {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  min-height: 600px;
  background: rgb(36, 35, 94);
  color : #ffffff;
